AWS Service Catalog Tag Update Constraints
With tag update constraints, AWS Service Catalog administrators can allow or disallow end users to update tags on resources associated with an AWS Service Catalog provisioned product. If tag updating is allowed, then new tags associated with the AWS Service Catalog product or portfolio will be applied to provisioned resources during a provisioned product update. 
To enable tag updates to a product


Open the AWS Service Catalog console at https://console.aws.amazon.com/servicecatalog/.


Choose the portfolio that contains the product you want to update.


Choose the Constraints tab and choose Add constraints.


Under Constraint type, choose Tag Update.


Choose the product from Product, then choose Continue.


On the Tag Updates page, select Enable Tag Updates.


Choose Submit.

