AWS Service Catalog Stack Set Constraints
Note
 This feature is currently in beta mode. AutoTags are not currently supported with AWS CloudFormation StackSets. 
A stack set constraint allows you to configure product deployment options using AWS CloudFormation StackSets. You can specify multiple accounts and regions for the product launch.
To apply a stack set constraint to a product


Open the AWS Service Catalog console at https://console.aws.amazon.com/servicecatalog/.


Choose the portfolio that contains the product.


Expand Constraints and choose Add constraints.


Choose the product from Product and set Constraint type to Stack Set. Choose Continue.


On the Stack Set constraint page, enter a description.


Choose the account(s) in which you want to create products.


Choose the region(s) in which you want to deploy products. Products are deployed in these regions in the order that you specify.


Choose an IAM StackSet Administrator Role that will be used to manage your target accounts. If you don't choose a role, StackSets will use the default ARN. Learn more about setting up stack set permissions.


Choose Submit.

