Requirements for AWS Resource Groups—Tagging
When users create channels, inputs, or input security groups, they can optionally attach tags to the resource during creation. Typically, your organization has a policy to tag or to omit tags. There are two services that control permissions for tagging, for two different scenarios:
 The ability to tag during channel creation is controlled by actions within AWS Elemental MediaLive. See Requirements for AWS Elemental MediaLive Features. 
 The ability to modify tags in existing resources is controlled by actions within Resource Group Tagging. See Working with Tag Editor in Getting Started with the AWS Management Console.