Region requirements for phone numbers
Country regulations often require a local office address and specific identification documents to purchase and own a phone number. The address that you provide can be the business or personal address where the phone numbers are used. 
Following is a list of ID requirements by country. When you request an international number, we'll work with you to submit your documents. 
Australia

[See the AWS documentation website for more details]
Austria

[See the AWS documentation website for more details]
Belgium

[See the AWS documentation website for more details]
Bulgaria

[See the AWS documentation website for more details]
Croatia

[See the AWS documentation website for more details]
Cyprus

[See the AWS documentation website for more details]
Czech Republic

[See the AWS documentation website for more details]
Denmark

[See the AWS documentation website for more details]
Estonia

[See the AWS documentation website for more details]
Finland

[See the AWS documentation website for more details]
France

[See the AWS documentation website for more details]
Georgia




Country Summary
Numbers Summary
ID Requirements
Acceptable Identification




Georgia (GE)
National prefixes: 995 70
No




Germany

[See the AWS documentation website for more details]
Greece

[See the AWS documentation website for more details]
Hong Kong




Country Summary
Numbers Summary
ID Requirements
Acceptable Identification




Hong Kong (HK)
National prefixes: 852 58
Yes
Your address and proof of address.  A global address is acceptable.



Hungary

[See the AWS documentation website for more details]
Indonesia




Country Summary
Numbers Summary
ID Requirements
Acceptable Identification




Indonesia (ID)
Mobile prefixes: 62 855
Yes
Proof of business address, a copy of the ID or passport of an authorized representative, and the business registration. You must also provide a description of how you plan to use the numbers.



Ireland

[See the AWS documentation website for more details]
Italy

[See the AWS documentation website for more details]
Japan

[See the AWS documentation website for more details]
Latvia

[See the AWS documentation website for more details]
Lithuania

[See the AWS documentation website for more details]
Luxembourg

[See the AWS documentation website for more details]
Malaysia

[See the AWS documentation website for more details]
Malta




Country Summary
Numbers Summary
ID Requirements
Acceptable Identification




Malta (MT)
National prefixes: 356
No




New Zealand

[See the AWS documentation website for more details]
Netherlands

[See the AWS documentation website for more details]
Norway

[See the AWS documentation website for more details]
Poland

[See the AWS documentation website for more details]
Portugal

[See the AWS documentation website for more details]
Romania

[See the AWS documentation website for more details]
Singapore

[See the AWS documentation website for more details]
Slovakia

[See the AWS documentation website for more details]
Slovenia

[See the AWS documentation website for more details]
Spain

[See the AWS documentation website for more details]
Sweden

[See the AWS documentation website for more details]
Switzerland

[See the AWS documentation website for more details]
Thailand

[See the AWS documentation website for more details]
Turkey

[See the AWS documentation website for more details]
United States
There aren't any documentation requirements for international customers to claim phone numbers in the United States.