AWS::Glue::Connection PhysicalConnectionRequirements
Specifies the physical requirements for a connection.
Syntax
To declare this entity in your AWS CloudFormation template, use the following syntax:
JSON
{
  "[AvailabilityZone](#cfn-glue-connection-physicalconnectionrequirements-availabilityzone)" : String,
  "[SecurityGroupIdList](#cfn-glue-connection-physicalconnectionrequirements-securitygroupidlist)" : [ String, ... ],
  "[SubnetId](#cfn-glue-connection-physicalconnectionrequirements-subnetid)" : String
}
YAML
[AvailabilityZone](#cfn-glue-connection-physicalconnectionrequirements-availabilityzone): String
  [SecurityGroupIdList](#cfn-glue-connection-physicalconnectionrequirements-securitygroupidlist): 
    - String
  [SubnetId](#cfn-glue-connection-physicalconnectionrequirements-subnetid): String
Properties
AvailabilityZone 
The connection's Availability Zone. This field is redundant because the specified subnet implies the Availability Zone to be used. Currently the field must be populated, but it will be deprecated in the future.
Required: No
Type: String
Update requires: No interruption
SecurityGroupIdList 
The security group ID list used by the connection.
Required: No
Type: List of String
Update requires: No interruption
SubnetId 
The subnet ID used by the connection.
Required: No
Type: String
Update requires: No interruption